#detalles {
  background: #222222;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  border-bottom: 3px solid #ebd800;
}
.image-detalle {
  padding-left: 0px;
}
.text-detalle {
  padding-top: 30px;
}
