<ng-container *ngIf="film">
  <div class="container" id="detalles">
    <div class="row">
      <div class="col-6 col-md-4 image-detalle">
        <a href="#"><img class="img-fluid" src="../../../../assets/images/movies.jpg" alt="Peliculas" width="400"
            height="700" /></a>
      </div>
      <div class="col-12 col-md-8 text-detalle">
        <h2>
          <span>{{ film.title }}</span>
        </h2>
        <p>
          {{ film.opening_crawl }}
        </p>
        <h3>Director //</h3>
        <p>{{ film.director }}</p>
        <h3>Fecha de Lanzamiento //</h3>
        <p>{{ film.release_date }}</p>
        <h3>Personajes //</h3>
        <div class="row">
          <div class="col-lg-2 col-sm-4 portfolio-item" *ngFor="let person of film.characters">
            <app-character [personURL]="person"></app-character>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="person">
  <div class="container" id="detalles">
    <div class="row">
      <div class="col-6 col-md-4 image-detalle">
        <a href="#"><img class="img-fluid" src="../../../../assets/images/personajes2.jpg" alt="Personajes" width="400"
            height="700" /></a>
      </div>
      <div class="col-12 col-md-8 text-detalle">
        <h2>
          <span>{{ person.name }}</span>
        </h2>
        <br>
        <h3>Año de nacimiento //</h3>
        <p>{{ person.birth_year }}</p>
        <h3>Lugar de nacimiento //</h3>
        <p>{{ planetName }}</p>
        <h3>Especie //</h3>
        <p>{{ specieName }}</p>
        <h3>Peliculas //</h3>
        <div class="row">
          <div class="col-lg-2 col-sm-4 portfolio-item" *ngFor="let film of person.films">
            <app-film [filmURL]="film"> </app-film>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="planet">
  <div class="container" id="detalles">
    <div class="row">
      <div class="col-6 col-md-4 image-detalle">
        <a href="#"><img class="img-fluid" src="../../../../assets/images/planets2.jpg" alt="Planets" width="400"
            height="700" /></a>
      </div>
      <div class="col-12 col-md-8 text-detalle">
        <h2><span>{{ planet.name }}</span></h2>

        <br>
        <h3>Poblaciónn //</h3>
        <p>{{ planet.population }}</p>
        <br>
        <h3>Peliculas //</h3>
        <div class="row">
          <div class="col-lg-2 col-sm-4 portfolio-item" *ngFor="let film of planet.films">
            <app-film [filmURL]="film"></app-film>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="specie">
  <div class="container" id="detalles">
    <div class="row">
      <div class="col-6 col-md-4 image-detalle">
        <a href="#"><img class="img-fluid" src="../../../../assets/images/especies2.jpg" alt="Especies" width="400"
            height="700" /></a>
      </div>
      <div class="col-12 col-md-8 text-detalle">
        <h2>
          <span>{{ specie.name }}</span>
        </h2>
        <br>
        <h3>Clasificación //</h3>
        <p>{{ specie.classification }}</p>
        <br>
        <h3>Idioma //</h3>
        <p>{{ specie.language }}</p>
        <br>

        <h3>Peliculas//</h3>
        <div class="row">
          <div class="col-lg-2 col-sm-4 portfolio-item" *ngFor="let film of specie.films">
            <app-film [filmURL]="film"></app-film>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="vehicle">
  <div class="container" id="detalles">
    <div class="row">
      <div class="col-6 col-md-4 image-detalle">
        <a href="#"><img class="img-fluid" src="../../../../assets/images/vehiculos2.jpg" alt="Vehiculos" width="400"
            height="700" /></a>
      </div>
      <div class="col-12 col-md-8 text-detalle">
        <h2>
          <span>{{ vehicle.name }}</span>
        </h2>
        <br>
        <h3>Tripulación //</h3>
        <p>{{ vehicle.crew }}</p>
        <br>
        <h3>Pasajeros //</h3>
        <p>{{ vehicle.passangers }}</p>
        <br>
        <h3>Peliculas//</h3>
        <div class="row">
          <div class="col-lg-2 col-sm-4 portfolio-item" *ngFor="let film of specie.films">
            <app-film [filmURL]="film"></app-film>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="starship">
  <div class="container" id="detalles">
    <div class="row">
      <div class="col-6 col-md-4 image-detalle">
        <a href="#"><img class="img-fluid" src="../../../../assets/images/naves2.jpg" alt="Naves" width="400"
            height="700" /></a>
      </div>
      <div class="col-12 col-md-8 text-detalle">
        <h2>
          <span>{{ starship.name }}</span>
        </h2>
        <br>
        <h3>Tripulación //</h3>
        <p>{{ starship.crew }}</p>
        <br>
        <h3>Pasajeros //</h3>
        <p>{{ starship.passangers }}</p>
        <br>
        <h3>Peliculas//</h3>
        <div class="row">
          <div class="col-lg-2 col-sm-4 portfolio-item" *ngFor="let film of specie.films">
            <app-film [filmURL]="film"></app-film>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
