<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav nav-fill w-100">
        <li class="nav-item">
          <a
            class="nav-link w-100"
            [routerLink]="['/home']"
            title="Peliculas"
            id="nav-peliculas"
            ><img
              src="../../../../assets/images/films.jpg"
              width="70"
              height="75"
              alt=""
            /><br />PELICULAS</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link w-100"
            [routerLink]="['/list/personajes']"
            title="Personajes"
            id="nav-personajes"
            ><img
              src="../../../../assets/images/personajes.jpg"
              width="70"
              height="75"
              alt=""
            /><br />PERSONAJES</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link w-100"
            [routerLink]="['/list/planetas']"
            title="Planetas"
            id="nav-planetas"
            ><img
              src="../../../../assets/images/planets.jpg"
              width="70"
              height="75"
              alt=""
            /><br />PLANETAS</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link w-100"
            [routerLink]="['/list/especies']"
            title="Especies"
            id="nav-especies"
            ><img
              src="../../../../assets/images/especies.jpg"
              width="70"
              height="75"
              alt=""
            /><br />ESPECIES</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link w-100"
            [routerLink]="['/list/vehiculos']"
            title="Vehiculos"
            id="nav-vehiculos"
            ><img
              src="../../../../assets/images/vehiculos.jpg"
              width="70"
              height="75"
              alt=""
            /><br />VEHICULOS</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link w-100"
            [routerLink]="['/list/naves']"
            title="Naves"
            id="nav-naves"
            ><img
              src="../../../../assets/images/naves.jpg"
              width="70"
              height="75"
              alt=""
            /><br />NAVES</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
