<div class="container" id="detalles">
    <div class="row">
      <div class="col-6 col-md-4 image-detalle"><a href="#"><img class="img-fluid" src="http://placehold.it/400x700" alt=""></a>
      </div>
      <div class="col-12 col-md-8 text-detalle">
        <h2><span>Star Wars: A New Hope</span></h2>
        <p>Biggs, Wedge, let's close it up. We're going in. We're going in full throttle. Right with you, boss. Luke, at that speed will you be able to pull out in time? It'll be just like Beggar's Canyon back home. We'll stay back far enough to cover you. My scope shows the tower, but I can't see the exhaust port! Are you sure the computer can hit it? Watch yourself! Increase speed full throttle! What about the tower? You worry about those fighters! I'll worry about the tower! Artoo...that, that stabilizer's broken loose again! See if you can't lock it down! I'm hit! I can't stay with you. Get clear, Wedge. You can't do any more good back there! Sorry!</p>
      </div>
    </div>
  </div>

