<div class="container">
  <div class="row">
    <div class="col-lg-12 intro-text">
      <p>
        Biggs, Wedge, let's close it up. We're going in. We're going in full
        throttle. Right with you, boss. Luke, at that speed will you be able to
        pull out in time? It'll be just like Beggar's Canyon back home. We'll
        stay back far enough to cover you. My scope shows the tower, but I can't
        see the exhaust port! Are you sure the computer can hit it? Watch
        yourself! Increase speed full throttle! What about the tower? You worry
        about those fighters! I'll worry about the tower! Artoo...that, that
        stabilizer's broken loose again! See if you can't lock it down! I'm hit!
        I can't stay with you. Get clear, Wedge. You can't do any more good back
        there! Sorry!<br /><br />
        I hope the old man got that tractor beam out if commission, or this is
        going to be a real short trip. Okay, hit it! We're coming up on the
        sentry ships. Hold 'em off! Angle the deflector shields while I charge
        up the main guns! I can't believe he's gone. There wasn't anything you
        could have done. Come on, buddy, we're not out of this yet! You in, kid?
        Okay, stay sharp!
      </p>
    </div>
  </div>
  <h2><span style="background: #000000;">Peliculas</span></h2>

  <div class="row" style="padding-top: 20px;">
    <div
      class="col-lg-4 col-sm-6 portfolio-item"
      *ngFor="let film of films; let i = index"
    >
      <div class="card h-100">
        <a [routerLink]="['/detail/', film.url]"
          ><img class="card-img-top" src="http://placehold.it/400x700" alt=""
        /></a>
        <div class="card-body">
          <h4 class="card-title">
            <a [routerLink]="['/detail/1']">{{ film.title }}</a>
          </h4>
          <p class="card-text">{{ film.release_date }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
