body {
  padding-top: 180px;
  background: #000;
  color: #ebd800;
  min-height: 100vh;
}

p {
  color: #ebd800;
  line-height: 22px;
}

.portfolio-item {
  margin-bottom: 30px;
}

a {
  color: #ebd800;
}

a:hover {
  color: #ebd800;
  text-decoration: underline;
}

h2 {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #ebd800;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h2 span {
  background: #222;
  padding: 20px 10px 0px 0;
}
